{% extends "base.html" %}

{% block title %}Welcome to My Sensors Homepage{% endblock %}

{% block content %}
            {% for sensor in sensors %}
            <div class="row">
                <h4><a href="/range_plot/{{ sensor.id }}">{{ sensor.name }}</a></h4>
            </div>
            {% endfor %}

<!--            <div class="row">
                <form action="." method="POST">
                    <textarea class="form-control" name="contents" placeholder="Name the sensor"></textarea>
                    <input type="submit" class="btn btn-success" value="Add Sensor">
                </form>
            </div>
-->

{% endblock %}